<div class="container">
  <h1>{{ title }}</h1>
  <form (ngSubmit)="search()">
    <div class="search-box">
      <input class="form-input" type="text" name="movie" [(ngModel)]="movie" autocomplete="off" />
      <!-- #searchMovie -->
      <button class="form-button">Search</button>
    </div>
  </form>
</div>

<div class="card">
  <ul *ngFor="let data of results">
    <li>{{ data.Title }}</li>
    <img
      (click)="details(data.imdbID)"
      [src]="data.Poster"
      [alt]="data.Title"
    />
  </ul>
</div>
