/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    padding: 5px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    background-color: #000;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 5px;

    font-weight: bold;
  }

  .btn:hover{
    background-color: lighten($color: #000000, $amount: 20);
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  gap: 40px;
  padding: 10px;
  justify-content: center;
  cursor: pointer;

  ul {
    list-style-type: none;
    text-align: center;
  }

  img {
    width: 250px;
    height: auto;
  }
}
